$font_family: "BOM-font", Sans-serif;
$font_size: 16px;
$mobile-padding: 30px;

/*width*/
$nav-width: 240px;
$mini-nav-width: 64px;
$content-margin : 24px;
$filter-width: 276px;

/*color*/

$bomblue-0: #003CFF;
$bomblue-1: #ECF2FF;

$blue-0: #3363FF;
$blue-1: #8CA7FF;
$blue-2: #CED9FF;
$blue-3: #EFF3FF;


$skyblue-0: #27AEF3;
$skyblue-1: #85D1F8;
$skyblue-2: #CBECFC;
$skyblue-3: #EEF9FE;

$green-0: #09C488;
$green-1: #75DEBC;
$green-2: #C4F1E2;
$green-3: #EBFBF6;

$orange-0: #FFA100;
$orange-1: #FFCA70;
$orange-2: #FFE8C2;
$orange-3: #FFF8EB;

$red-0: #FF3A55;
$red-1: #FF909F;
$red-2: #FFD0D6;
$red-3: #FFEFF1;

$darkred-0 : #e53049;

$gray-0: rgba(241, 243, 248, 0.4);
$gray-1: #F1F3F8;
$gray-2: #E4E9F1;
$gray-3: #D0D7E2;
$gray-4: #B9C3D2;
$gray-5: #8C96A5;
$gray-6: #667082;
$gray-7: #3B4656;
$gray-8: #1B2230;
$gray-9: #1b1b1b;
