#analysisEnergyChart {
  height: 250px;
}

#analysisEnergyChart, #analysisEnergyGrid,
#analysisLocationChart, #analysisLocationGrid,
#analysisPerAreaChart, #analysisPerPersonChart,
#analysisPerAreaGrid, #analysisPerPersonGrid,
#analysisVariationChart, #analysisVariationGrid,
#reportEnergyUsageGrid {
  width: 100%;
  margin: -55px 0 0 0;
}

#analysisLocationGrid {
  max-height: 700px;
  @include tabletAndMobile() {
    max-height: inherit;
  }
}

.temp-box, .summary, .standard-box {
  > .ibox-content {
    padding: 24px 0 0 0;
  }
}

.temp-box, .standard-box {
  .flex-box {
    > div {
      flex: 0 0 50%;
      padding: 0 16px 0 0;

      &:last-child {
        padding: 0;
      }
    }
  }
}


.pricing-summary {
  .flex-box {
    p {
      padding: 0 0 0 10px;
      background-repeat: no-repeat;
      background-position: left center;
    }

    > div {
      font-weight: 500;
      display: flex;

      p {
        margin: 0 4px 0 0;
      }
    }

    flex-wrap: wrap;
  }

  .warning {
    p {
      @extend .red;
      background-image: url("~assets/images/common/icn_monitoring_arrow_r.svg");
    }

    .bom-badge {
      @extend .red-badge;
      @extend .red;
    }
  }

  .normal {
    p {
      @extend .green;
      background-image: url("~assets/images/common/icn_monitoring_arrow_g.svg");
    }

    .bom-badge {
      @extend .green-badge;
      @extend .green;
    }
  }

  h1 {
    > span {
      display: inline-block;
      border-right: 1px solid $gray-2;
      padding: 0 8px 0 0;
      margin: 0 8px 0 0;
    }
  }
}

.summary {
  @extend .pricing-summary;

  .ibox-2Depth {
    .flex-box {
      flex-wrap: wrap;
    }
  }
}


#analysisPerAreaChart, #analysisPerPersonChart {
  height: 250px;
}
