/*dashboard*/
.dashboard-item-box {
  @include desktop() {
    .col-lg-3 {
      width: 50%;
    }
  }
}

.aircompressor-ibox-title {
  h3 {
    display: flex;
    align-items: center;
  }

  .img-box {
    width: 40px;
    height: 40px;
    border: solid 1px $gray-2;
    border-radius: 50%;
    margin: 0 8px 0 0;
    overflow: hidden;
    text-align: center;
  }

  a {
    transition: color .5s ease;

    &:hover {
      color: $red-0;
    }
  }
}


.setting-btn {
  opacity: .8;
  cursor: pointer;
  transition: opacity .3s ease;
  border-radius: 8px;

  &:hover, &:after, &:focus {
    opacity: 1;
    background: $gray-0;
  }
}

.state-box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  border-radius: 4px;
  border: solid 1px $gray-2;
  margin: 0 0 16px 0;

  li {
    @extend .font-16;
    width: 25%;
    text-align: center;
    padding: 11px 0;
    color: $gray-4;
    border-right: solid 1px $gray-2;
    transition: all .3s ease;

    &:last-child {
      border-right: 0;
    }
  }

  li.set-btn {
    cursor: pointer;
  }

  li.set-btn.run {
    &:hover {
      color: $blue-0;
    }
  }

  li.set-btn.stop {
    &:hover {
      color: $red-0;
    }
  }

  li.run.active {
    @extend .blue-bg-gradient;
    color: #fff;
    font-weight: 600;

    &:hover {
      color: $blue-2;
    }
  }

  li.load.active {
    @extend .green-bg-gradient;
    color: #fff;
    font-weight: 600;
  }

  li.unload.active {
    @extend .orange-bg-gradient;
    color: #fff;
    font-weight: 600;
  }

  li.stop.active {
    @extend .red-bg-gradient;
    color: #fff;
    font-weight: 600;

    &:hover {
      color: $red-2;
    }
  }
}


.noti-box {
  width: 100%;
  padding: 16px;;
  border-radius: 8px;
  margin: 0 0 16px 0;
  background: $green-3;
  @extend .font-18;

  .normal {
    color: $green-0;
    font-weight: bold;
    padding: 0 0 0 25px;
    background: url("~assets/images/dashboard/icn_dashboard_seeding.png") no-repeat left;
    background-size: 18px;
  }

  .alarm {
    color: $red-0;
    font-weight: bold;
    padding: 0 0 0 25px;
    background: url("~assets/images/dashboard/icn_dashboard_alert.png") no-repeat left;
    background-size: 18px;
  }

  .text {
    margin: 8px 0 0 0;
  }
}

.noti-box.alarm-box {
  background: $red-3;
}

.tag-box {
  background: $gray-0;
  padding: 16px;
  border-radius: 8px;

  li {
    @extend .font-18;
    display: flex;
    justify-content: space-between;
    margin: 0 0 8px 0;
    font-weight: 600;

    &:last-child {
      margin: 0;
    }

    .tagname {
      color: $gray-5;
    }
  }
}

.modal-info-box {
  padding: 24px 0 0 0;

  li {
    @extend .font-18;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 8px 0;

    @include mobile() {
      display: block;
    }

    .title {
      background: $gray-0;
      color: $gray-5;
      font-weight: 500;
    }
  }
}

.grid-data {
  color: $gray-5;
  display: flex;

  strong {
    color: $gray-7;

    span {
      color: $gray-2;
      padding: 0 10px;
    }
  }
}

.all-schedule-list {
  display:flex;
  justify-content: space-between;
  ul {
    padding:4px;
  }
  >ul li {
    margin: 0 0 24px 0;
    color:$gray-5;

    .td-label {
      margin: 0;
    }

    .equipment-box {
      background: $blue-3;
      color: $blue-0;
      border: 1px solid $blue-1;
      border-radius: 4px;
      padding: 8px 12px;
      margin: 0 0 8px 0;
      cursor: grab;

      &:last-child {
        margin: 0;
      }
    }
  }

  .no-schedule-li {
    opacity: .5;
    .equipment-box {
      background: $gray-1;
      color: $gray-5;
      border: 1px solid $gray-2;
    }
  }

  .equipment-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tabletAndMobile() {
      display: block;
    }

    > div, ul {
      margin: 6px 12px 6px 0;
      @include tabletAndMobile() {
        margin: 0 0 12px 0;
      }
    }

    .date-ul {
      li div {
        width: 30px;
        @extend .font-16;
      }
    }

    .time-ul {
      display: flex;

      input {
        @extend .font-14;
        min-width: 100px;
        width: 100px;
      }
    }
  }
}

.progressbar {
  width:50%;
  height:10px;
  margin:0 10px 0 0;
  border: 0;
  border-radius: 10px;
  box-shadow: inset 3px 3px 10px #ccc;
  background: $gray-0;
  overflow: hidden;
  .inner-bar {
    height:10px;
    border-radius: 10px;

    background: repeating-linear-gradient(to right, $green-0 0%, $green-1 50%, $green-0 100%);
    background-size: 200% auto;
    background-position: 0 100%;
    animation: progressbarAnimation 2s ease infinite;
  }
}

@keyframes progressbarAnimation {
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}


.group {
  background-color: rgba(217, 217, 217, 0.4);
  padding: 16px;
  margin:0 0 16px 0;
  border-radius: 8px;
  .aircompressor-ibox-title h3{
    @extend .font-20;
  }

  .group-state {
    margin:0 0 8px 0;
    span {
      display:block;
      @extend .td-label;
    }
  }

  .device-state {
    @extend .bom-badge;
  }
  .RUN.device-state {
    @extend .blue-bg-badge;
  }
  .STOP.device-state {
    @extend .red-bg-badge;
  }
  .LOAD.device-state {
    @extend .green-bg-badge;
  }
  .UNLOAD.device-state {
    @extend .orange-bg-badge;
  }

  .tag-box li{
    @extend .font-16;
    margin:0;
  }
}
