/****init*****/
* {
  margin: 0;
  padding: 0;
  font-family: "BOM-font", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "BOM-font", sans-serif;
  font-weight: 500;
  color: $gray-7;
  background:$gray-0;
  line-height: 1.6em;
  word-break: break-all;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  border-style: none;
  outline: none;
}

a {
  text-decoration: none;
  color: $gray-7;
  cursor: pointer;
  outline: 0 !important;
}

a:hover,
a:active,
a:focus {
  color: $gray-7;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

strong {
  font-weight: 800;
}

caption {
  position: relative;
  visibility: hidden;
  height: 0;
  line-height: 0;
  display: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  option {
    outline: none;

    &:focus, &:hover {
      outline: none;
      border: 0;
    }
  }
}

select::-ms-expand {
  display: none;
}

select,
input {
  vertical-align: middle;
  outline: none;
}

select,
input[type="text"],
input[type="password"],
input[type="number"] {
  -webkit-appearance: none;
}

input:focus, button:focus, textarea:focus, option:focus {
  outline: none;
}

button.btn:focus, div:focus {
  outline: 0;
  border: 0;
}


/***** align *****/
.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.clear {
  display: block;
  height: 0;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

p {
  margin: 0;
}

.modal-backdrop {
  opacity: 0.4;
}


.pc_none {
  display: none;
}

.m_show {
  display: none;
}

.m_hidden {
  display: block;
}


article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/**스크롤bar 디자인 변경***/
.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out,
  height 100ms ease-out;
  transition: background-color 100ms ease-out, margin 100ms ease-out,
  height 100ms ease-out;
  background-color: rgba(23, 24, 69, 0.1);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, 0.5);
}


/**공통컬러**/
.bom-blue {
  color: $bomblue-0 !important;
}

.blue {
  color: $blue-0 !important;
}

.skyblue {
  color: $skyblue-0 !important;
}

.green {
  color: $green-0 !important;
}

.orange {
  color: $orange-0 !important;
}

.red {
  color: $red-0 !important;
}

.g1 {
  color: $gray-1 !important;
}

.g2 {
  color: $gray-2 !important;
}

.g3 {
  color: $gray-3 !important;
}

.g4 {
  color: $gray-4 !important;
}

.g5 {
  color: $gray-5 !important;
}

.g6 {
  color: $gray-6 !important;
}

.g7 {
  color: $gray-7 !important;
}

.g8 {
  color: $gray-7 !important;
}

.g9 {
  color: $gray-7 !important;
}


.blue-0-bg {
  background-color:$blue-0;
}

.skyblue-0-bg {
  background-color:$skyblue-0;
}

.green-0-bg {
  background-color:$green-0;
}

.red-0-bg {
  background-color:$red-0;
}

.orange-0-bg {
  background-color:$orange-0;
}

.gray-1-bg {
  background-color:$gray-1;
}


.blue-bg {
  background-color:$blue-3;
}

.skyblue-bg {
  background-color:$skyblue-3;
}

.green-bg {
  background-color:$green-3;
}

.red-bg {
  background-color:$red-3;
}

.orange-bg {
  background-color:$orange-3;
}


.blue-bg-gradient {
  background-image: linear-gradient(to bottom, #8ca7ff, #3363ff);
}

.skyblue-bg-gradient {
  background-image: linear-gradient(to bottom, #85d1f8, #27aef3);
}

.green-bg-gradient {
  background-image: linear-gradient(to bottom, #75debc, #09c488);
}

.red-bg-gradient {
  background-image: linear-gradient(to bottom, #ffa7a1, #ee3224);
}

.orange-bg-gradient {
  background-image: linear-gradient(to bottom, #ffca70, #ffa100);
}

/**공통폰트**/

h1 {
  font-size: 32px;
  font-weight: 600;
  margin:0;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin:0;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin:0;
}

.font-48 {
  font-size: 48px;
}



.font-32 {
  font-size: 32px;
}

.font-24 {
  font-size: 24px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
  font-weight: 500;
}

.font-14-bold {
  font-size: 14px;
  font-weight: 700;
}

.font-12 {
  font-size: 12px;
  font-weight: 500;
}

.font12-bold {
  font-size: 12px;
  font-weight: 700;
}









.font1-1 {
  font-size: 14px;
  font-weight: 500;
}

.font1-2 {
  font-size: 14px;
  font-weight: 700;
}

.font2-1 {
  font-size: 12px;
  font-weight: 500;
}

.font2-2 {
  font-size: 12px;
  font-weight: 700;
}


/***template***/
#wrap {
  width: 100%;
}

#templateWrap {
  min-height: 100%;
  display: flex;
}

#content {
  order: 2;
  flex: 1;
  width: calc(100% - 64px);

}

#content:after {
  display: block;
  clear: both;
  content: "";
}


/**header**/
#header {
  position: relative;
  width: 100%;
  padding: 20px $content-margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tabletAndMobile() {
    padding: 20px;
    display:block;
  }

  .user {
    @extend .font-24;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 1.2;
    background: $red-0;
    border-radius: 100%;
    padding: 4px;
    text-align: center;
    color: #fff;
  }

  .right-header-menu{
    position:relative;
    display:flex;
    align-items: center;

    @include tabletAndMobile() {
      padding: 20px 0;
      justify-content: end;
    }
  }

  .nowTime{
    @include mobile-mini() {
      display:none;
    }
    @extend .font-20;
    position:relative;
    display:flex;
    background:url("~assets/images/common/icn_common_calendar.svg") no-repeat center left;
    color:$gray-5;
    padding:0 24px 0 30px;
    margin:0 24px 0 0;
    font-weight:500;
    &:after {
      position:absolute;
      top:50%;
      transform: translateY(-50%);
      right:0;
      content:'';
      display:block;
      width:1px;
      height:24px;
      background:$gray-2;
    }
    span{
      @extend .font-24;
      color:$gray-7;
      font-weight:600;
      padding:0 0 0 8px;
    }

  }
  #downMenu {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 999;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(81, 81, 81, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 414px;
    padding: 24px;

    .user, .user-info {
      margin: 0 12px 0 0;
    }

    .user-info {
      display: flex;

      .user-name {
        @extend .font-16;
        font-weight: 500;
        color: #fff;
      }

      .email {
        @extend .font-12;
        color: $gray-2;
      }
    }

    .logout-btn {
      min-width: 111px;
      height: 40px;
      color: $gray-4;
      border-radius: 8px;
      border:solid 1px $gray-2;
      padding: 0 16px 4px 40px;
      background-color: #fff;
      background-image: url("~assets/images/common/icn_common_logout-g0.svg");
      background-repeat: no-repeat;
      background-position: top 8px left 12px;
      transition: all .3s ease;

      &:hover {
        background-color: $gray-0;
        border:solid 1px $gray-0;
        color: $gray-5;
        background-image: url("~assets/images/common/icn_common_logout.svg");
      }
    }
  }

}

.header-title {
  .header-nav {
    list-style: none;
    display: flex;
    margin:16px 0 0 0;

    li {
      @extend .font-16;
      color: $gray-6;
      background-image: url("~assets/images/common/icn_common_more-g6.svg");
      background-repeat: no-repeat;
      background-position: top 2px right;
      padding: 0 20px 0 0;

      &:last-child {
        background-image: none;
      }

      img {
        vertical-align: middle;
      }
    }
  }

  .tool-title {
    margin: 48px 0 0 0;
    display: flex;
    align-items: center;

    .icon {
      width: 32px;
      height: 32px;
      background: $gray-5;
      border-radius: 8px;
      margin: 0 12px 0 0;
    }

    h2 {
      margin: 0;

      a {

        color: $gray-2;
        font-weight: 500;

        span {
          color: #fff;
        }
      }
    }
  }
}


/**LeftMenu**/
#LeftMenu {
  order: 1;
  width: $mini-nav-width;
  min-width: $mini-nav-width;
  background: #fff;
  min-height:100vh;
  padding:40px 0;

  @include mobile() {
    display: block;
  }


  .nav-header {
    text-align: center;
    align-items: center;

    .profile-element-detail {
      display: none
    }
  }
  ul#side-menu {
    > li.active {
      position:relative;
      &::before {
        content:"";
        position:absolute;
        top:18px;
        display:block;
        width:4px;
        height:24px;
        background:$red-0;

      }
    }
  }

  ul {
    width: 100%;


    li {
      position: relative;
      width: 100%;
      padding: 15px 0;

      &:hover, &:focus {
        > ul {
          display: block;
        }
      }

      > a {
        display: block;
        width: 32px;
        height: 32px;
        text-align: center;
        margin: 0 auto;
        border-radius: 8px;
        padding: 0;

        &:hover {
          background-color: $gray-1;
        }
      }

      ul {
        min-width: 176px;
        padding: 16px;
        display: none;
        position: absolute;
        left: $mini-nav-width;
        border-radius: 5px;
        top: 0;
        width: 165px;
        background: #fff;
        z-index: 999;
        box-shadow: 8px 0 16px 0 rgba(59, 70, 86, 0.16);

        &:hover {
          display: block;
        }

        li.title-li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: initial;
          font-size: 12px;
          font-weight: bold;
          color: $gray-5;

          &:hover, &:focus {
            background-color: transparent;
          }
        }

        li {
          width: 100%;
          padding: 0 5px;

          &:hover, &:focus {
            border-radius: 4px;
            background-color: $gray-1;
          }

          a {
            width: 100%;
            height: auto;
            line-height: auto;
            padding: 2px 5px;
            text-align: left;
            color: $gray-7;

            &:hover, &:focus {
              background-color: transparent;
            }
          }
        }

      }
    }

    li.active {
      >ul {
        li.nuxt-link-active, li.active {
          background: $blue-0;
          border-radius: 4px;

          a {
            font-weight: bold;
            color:#fff;
            background-color: transparent;
          }
        }
      }
    }
  }

  .full-nav-info {
    display: none;
    opacity: 0;
  }
}

body.full-navbar {
  #content {
    width: calc(100% - 240px);
  }

  #LeftMenu {
    width: $nav-width;
    flex: 0 0 $nav-width;


    .nav-info {
      box-shadow: none;
    }

    .nav {

      li {
        width: 100%;
        display: flex;

        .mini-info {
          flex: 0 0 $mini-nav-width;
        }

        .profile-element-detail {
          display: block;
          text-align: left;

          .profile-title {
            font-size: 16px;
            font-weight: 900;
          }

          .profile-subtitle {
            font-size: 12px;
            color: $gray-6;
          }
        }

        > a {
          margin: 0 16px;
        }

        ul {
          display: block;
          position: relative;
          top: 0;
          left: 0;
          box-shadow: none;
          padding: 8px 8px 0 8px;

          li {
            a {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

/***footer****/
#footer {
  width: 100%;
  background: $gray-1;
  padding: 24px $content-margin;
  font-size: 12px;
  font-weight: 500;
  color: $gray-6;

  @include mobile() {
    padding: 20px;
  }
}


/***content***/
#subContent {
  width: 100%;
  padding: 20px $content-margin;
  background: $gray-0;
  min-height: calc(100vh - 135px);
  @include mobile() {
    padding: 20px;
  }
}

.filter-show-box {
  @include desktop-lg() {
    transition: padding .3s ease;
    padding: 0 $filter-width 0 0;
  }
  @include desktop() {
    transition: padding .3s ease;
    padding: 0 $filter-width 0 0;
  }
}


.filter {
  position: absolute;
  top:0;
  right:0;

  .filter-toggle-btn {
    position: fixed;
    top: 80px;
    right: $filter-width;
    display: block;
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(59, 70, 86, 0.16);
    background-color: #ffffff;
    z-index: 999;
    transition: all .3s ease;
    img {
      vertical-align: top;
    }
  }
}

.filter-show {
  .filter-toggle-btn {
    right: 260px;
  }

  #searchFilter, #DashboardCollapse {
    right: 0;
  }
}

.filter-hide {
  .filter-toggle-btn {
    right: 0;
    border-radius: 8px 0 0 8px;
  }

  #searchFilter, #DashboardCollapse {
    right: -$filter-width;
  }
  #DashboardCollapse {
    .filter-toggle-btn {
      img {
        transition: all ease .3s;
        transform: rotate(-180deg);
      }
    }
  }
}

.dashboard-box-8 {
  width:calc(100% - 276px);
}
.dashboard-box-12 {
  width:100%;
}

#DashboardCollapse {
  position:absolute;
  width: $filter-width;
  min-height: 100vh;
  right:0;
  z-index: 500;
  box-shadow: -4px 0 8px 0 rgba(59, 70, 86, 0.08);
  background-color: #ffffff;
  transition: all .3s ease;

  @include mobile() {
    width: 90%;
  }

  .collapse-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow: auto;
    .title {
      color:$gray-5;
      font-weight:600;
      padding:16px 0;
    }
    .title.flex-box {
      border-bottom: 1px solid $gray-2;
      padding:24px 0;
    }
    .content {
      border-bottom: 1px solid $gray-2;
      padding: 0 0 16px 0;
      h1 {
        margin:0;
        font-weight:800;
        text-align:right;
      }
    }
  }
}



#searchFilter {
  position: fixed;
  top: 0;
  width: $filter-width;
  padding: 40px 40px 100px 40px;
  min-height: 100%;
  box-shadow: -4px 0 8px 0 rgba(59, 70, 86, 0.08);
  background-color: #ffffff;
  transition: all .3s ease;

  .filter-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 12px 0;
    border-bottom: 1px solid $gray-2;

    p {
      color: $gray-6;
    }

    a {
      color: $blue-0;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .filter-content {
    > div {
      padding: 24px 0;
      border-bottom: 1px solid $gray-2;

      h4 {
        font-size: 14px;
        font-weight: 500;
        color: $gray-5;
      }
    }
  }
}



