/*CT 개별 모니터링 */
.CT-Name {
  margin:0 0 24px 0;
  a,span {
    font-size:18px;
    font-weight:400;
    color:$gray_6;
  }
}
.CT-sub-info {
  .ibox-content {
    text-align: right;

    h1 {
      font-size: 36px;
      color: $bomblue-0;
      font-weight: bold;
      margin: 0;
    }

    p.unit {
      font-size: 18px;
      font-weight: 500;
      color: $gray-3;
    }
  }
}

.CT-Monitoring-list {
  a.more {
    border-radius: 20px;
    transition: background .3s ease;
    &:hover {
      background:$gray-1;
    }
  }
}
.CT-Monitoring-list-detail {
  column-count: 3;
  @include tablet() {
    column-count: 2;
  }
  @include mobile() {
    column-count: 1;
  }

  > li {
    display: flex;
    min-height: 77px;
    padding: 0 10px 0 0;
    page-break-inside: avoid;
  }


  .title {
    text-align: left;
    vertical-align: top;
    padding: 26px 0 15px 13px;
    border-bottom: 1px solid $gray_2;

    h3 {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.42px;
      margin: 0 0 4px 0;
    }

    p {
      font-size: 10px;
      color: $gray_5;
    }
  }

  .value {
    flex: 1;
    text-align: right;
    vertical-align: top;
    padding: 26px 0 15px 13px;
    border-bottom: 1px solid $gray_2;

    h3 {
      font-size: 18px;
      font-weight: 600;
      color: $bomblue-0;
      margin: 0 0 2px 0;
    }

    p {
      font-size: 10px;
      min-height: 22px;
      color: $gray_3;
    }
  }
}

/*CT모니터링 */
.target-bg-box {
  background-size: 100%;

  .ibox-title {
    color: #fff;
    border: 0;
  }

  .ibox-content {
    padding: 0;

    h1 {
      text-align: right;
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      margin: 0;
    }
  }
}

.CT-flex-box {
  padding:0;
  div {
    font-size: 32px;
    text-align: right;

    .unit {
      color: $gray-3;
      font-size: 14px;
      vertical-align: text-bottom;
      font-weight: 500;
      margin: 0 0 0 5px;
    }
  }

  p {
    height: 15px;
    line-height: 15px;
    font-weight: 400;
    text-align: right;
    font-size: 11px;
    letter-spacing: .22px;
    color: $gray-6;
  }
}

.CT-dashboard-list-detail {
  column-count: 2;
}
