/*Setting*/

#settingContent {
  width: 100%;
  padding: 20px $content-margin;
  background: $gray-0;
  margin: 0;
  min-height: calc(100% - 135px);
  @include mobile() {
    padding: 20px;
  }
}

#settingContent {
  > .row {
    display: flex;

    > div {
      padding-right: 15px;
      padding-left: 15px;
    }

    .setting-space-box {
      width: 12%;
    }

    .setting-nav-box {
      width: 16.66666666666666666%;
    }

    .setting-content-box {
      width: 60%;
    }

    @include desktop() {
      .setting-space-box {
        width: 0;
        padding: 0;
      }
      .setting-nav-box {
        width: 25%;
      }
      .setting-content-box {
        width: 75%;
      }
      .filter-show-box {
        @include desktop() {
          transition: padding .3s ease;
          padding: 0 276px 0 0;
        }
      }
    }
    @include tabletAndMobile() {
      flex-wrap: wrap;
      .setting-space-box {
        width: 0;
        padding: 0;
      }
      .setting-nav-box {
        width: 100%;
      }
      .setting-content-box {
        width: 100%;
      }
    }
  }
}

#settingNav {
  > ul {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(59, 70, 86, 0.08);
    background-color: #ffffff;

    > li {
      @include tabletAndMobile() {
        display: inline-block;
        width: 50%;
      }
    }

    a {
      display: block;
      width: 100%;
      padding: 8px 12px;
      border-radius: 8px;
      transition: background .3s ease;

      &:hover {
        background-color: $gray-1;
      }
    }

    a.nuxt-link-active {
      background-color: $bomblue-1;
      font-weight: bold;
    }
  }
}


/**알람설정**/
.ibox-disable-content, .disable-table {
  opacity: 0.3;
}

.label-box {
  display: inline-block;
  min-width: 82px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  padding: 0 18px;
  font-weight: 800;
  background-color: $gray-1;
}

.target-box {
  padding: 16px;
  border-bottom: 1px solid $gray-1;
}


/***setting Modal***/


.td-label {
  font-size: 14px;
  color: $gray-5;
  margin: 0 0 8px 0;
}


.modal-h4-title {
  @extend .font-18;
  font-weight: 800;
  margin: 40px 0 24px 0;
}

.first.modal-h4-title {
  margin: 24px 0;
}

#bar-range.simple-range-slider {
  width: 100%;

  .simple-range-slider-bg-bar {
    height: 8px;
    border-radius: 4px;
    background: $gray-1;
  }

  .simple-range-slider-bar {
    height: 8px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #3363ff, #c24285);
  }

  .simple-range-slider-popover {
    height: 25px;
    padding: 0 3px;
  }

  input, label {
    background: none;
    font-size: 12px;
    height: 20px;
    margin: 0;
  }
}

.date-ul {
  display: flex;
  flex-wrap:wrap;
  margin: 0;

  li {
    text-align: center;
    margin: 0 4px 0 0;

    input[type=checkbox] {
      display: none;
    }

    div {
      @extend .font-18;
      width: 40px;
      height: 40px;
      line-height: 36px;
      background: $gray-0;
      border: 1px solid $gray-0;
      color: $gray-5;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 400;
      transition: all .3s ease;
      &:hover {
        background:$gray-1;
      }

    }

    input[type=checkbox]:checked + div {
      background: $blue-3;
      border: 1px solid $blue-0;
      color: $blue-0;
      font-weight: 600;
    }
  }
}

.date-ul.week-ul {
  li div {
    width:auto;
    padding:0 12px;
  }
}
